body{
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
    margin: 55px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    text-transform: capitalize;
}
h1{
    color: #2c3834;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.hr{
    background-color: #dfdfdf;
    height: 2px;
    width: 140px;
    border: none;
    margin: 0 auto 20px;
}
.hr::after{
    content: "";
    background-color: #80b235;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 5px;
    width: 75px;
    margin: auto;
}
small{
    color: #292d2c;
    display: block;
    width: 90%;
    margin: 0 auto 30px;
}
h1, small{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container div p{
    color: #3c4043;
    margin: 20px 0;
}
h2{
    color: #2c3530;
    margin: 0;
}
span{
    color: #80b235;
}
button{
    color: #fff;
    background-color: #80b235;
    text-transform: capitalize;
    font-size: 15px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    outline: none;
}
img{
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    small{
        width: 350px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        margin: 0 20px;
    }
    .container div{
        max-width: 350px;
        margin-right: 15px;
    }
    .container img{
        max-width: 360px;
    }
    .container div p{
        text-align: justify;
    }
    button{
        width: 120px;
        margin: 0;
    }
    img{
        max-width: 500px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container div{
        max-width: 540px;
        margin-right: 15px;
    }
    .container img{
        max-width: 395px;
    }
}
