body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    text-transform: capitalize;
}
h1{
    color: #2c3834;
    font-size: 30px;
    margin: 0 0 15px 0;
}
.hr{
    background-color: #dfdfdf;
    height: 2px;
    width: 140px;
    border: none;
    margin: 0 auto 10px;
}
.hr::after{
    content: "";
    background-color: #80b235;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 5px;
    width: 75px;
    margin: auto;
}
small{
    color: #292d2c;
    display: block;
    width: 350px;
    margin: 0 auto 30px;
}
h1, small{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}
.container div{
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
.container div p{
    color: #3c4043;
    text-align: justify;
    width: 500px;
    margin: 20px 0;
}
h2{
    color: #2c3530;
    margin: 0;
}
span{
    color: #aebe9a
}
button{
    color: #fff;
    background-color: #80b235;
    text-transform: capitalize;
    font-size: 15px;
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
}
img{
    width: 500px;
}